:root {
  --accent-color: #fa4a0c;
  --navs-color: #252b42;
  --paragrapg-color: #737373;
  --copyright-text-color: #5c5c5c;
  --small-text-color: #f6f6f6;
}
body {
  color: var(--paragrapg-color);
  font-family: "Montserrat", sans-serif;
}
.header-block {
  display: flex;
  padding: 26px 40px 28px 70px;
  align-items: center;
}
.container {
}
.logo {
  margin-right: auto;
}
.navs {
  display: flex;
  gap: 114px;
}
.menu-item {
  color: var(--navs-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 28px; /* 175% */
  letter-spacing: 0.2px;
  transition: 0.25s;
}

.menu-item:hover,
.menu-item:focus {
  color: var(--accent-color);
}

.hero-block {
  padding-top: 72px;
  padding-bottom: 146px;
  text-align: center;
  background-image: url(../images/hero-background.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-name {
  color: var(--small-text-color);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px; /* 150% */
  letter-spacing: 0.1px;
}

.hero-title {
  color: #fff;
  font-family: Poppins;
  font-size: 58px;
  font-weight: 700;
  line-height: 80px; /* 137.931% */
  letter-spacing: 0.2px;
  max-width: 937px;
  display: inline-block;
}
.hero-text {
  color: var(--small-text-color);
  font-size: 24px;
  font-weight: 500;
  line-height: 38px; /* 158.333% */
  letter-spacing: 0.2px;
  margin-top: 27px;
  margin-bottom: 70px;
}
.playstore-hero {
  width: 236px;
  padding: 18px 0px;
  border-radius: 30px;
  border: 1px solid transparent;
  background: var(--accent-color);
  box-shadow: 0px 10px 30px 0px rgba(183, 50, 39, 0.2);

  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px; /* 150% */
  letter-spacing: 0.1px;
  transition: 0.25s;
}

.playstore-hero:hover,
.playstore-hero:focus,
.playstore-download:hover,
.playstore-download:focus {
  border: 1px solid #fff;
  background-color: transparent;
}
.app-store-hero:hover,
.app-store-hero:focus,
.app-store-download:hover,
.app-store-download:focus {
  border: 1px solid var(--accent-color);
  background-color: var(--accent-color);
}

.app-store-hero {
  width: 236px;
  padding: 18px 0px;
  border-radius: 30px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;

  /* H3 */
  font-size: 24px;
  font-weight: 700;
  line-height: 36px; /* 150% */
  letter-spacing: 0.1px;

  margin-left: 34px;
  transition: 0.25s;
}
.two-phones {
  display: block;
  position: relative;
  margin: 0 446px;
  padding-bottom: 128px;
  border-bottom: 3px solid #e4e4e4;
}

.phone1 {
}
.phone2 {
  position: absolute;
  left: 300px;
}
.insctuction-section {
  padding: 72px 154px 157px 245px;
}
.inscruction-title {
  margin-bottom: 137px;
  text-align: center;
  color: #000;
  font-family: Poppins;
  font-size: 44px;
  font-weight: 600;
  line-height: 36px; /* 81.818% */
  letter-spacing: 0.1px;
}
.steps {
  display: flex;
  flex-direction: column;
  gap: 131px;
  margin-bottom: 157px;
}
.step:nth-child(2) {
  flex-direction: row-reverse;
}
.step {
  display: flex;
  align-items: center;
  gap: 171px;
}
.step-img {
  filter: drop-shadow(15px 17px 40px #2e040426);
}
.action-title {
  color: var(--accent-color);

  /* H3 */
  font-size: 24px;
  font-weight: 700;
  line-height: 36px; /* 150% */
  letter-spacing: 0.1px;
}
.instruction-subtitle {
  color: var(--navs-color);

  /* H2 */
  font-size: 40px;
  font-weight: 700;
  line-height: 57px; /* 142.5% */
  letter-spacing: 0.2px;
}
.paragraph {
  font-size: 24px;
  font-weight: 500;
  line-height: 38px; /* 158.333% */
  letter-spacing: 0.2px;
}
.download-section {
  background-image: url(../images/download-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 145px;
  padding-bottom: 131px;
  text-align: center;
}
@media (min-resolution: 192dpi) {
  .download-section {
    background-image: url(../images/download-background@2.png);
  }
  .hero-block {
    background-image: url(../images/hero-background@2.png);
  }
}

.download-title {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  line-height: 57px; /* 142.5% */
  letter-spacing: 0.2px;
}
.download-text {
  color: #fff;
  text-align: center;

  /* H4 */
  font-size: 24px;
  font-weight: 500;
  line-height: 38px; /* 158.333% */
  letter-spacing: 0.2px;
  margin-top: 20px;
  margin-bottom: 60px;
}
.playstore-download {
  padding: 18px 31px;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid transparent;
  background: var(--accent-color);
  color: #fff;

  /* Button */
  font-size: 16px;
  font-weight: 700;
  line-height: 28px; /* 175% */
  letter-spacing: 0.2px;
  transition: 0.25s;
}
.app-store-download {
  padding: 18px 45px;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
  margin-left: 16px;

  font-size: 16px;
  font-weight: 700;
  line-height: 28px; /* 175% */
  letter-spacing: 0.2px;
  transition: 0.25s;
}
.footer-section {
  display: flex;
  align-items: center;
  padding: 53px 160px 68px 186px;
}
.logo-footer {
}
.social-medias {
  display: flex;
  gap: 24px;
  margin: 0 auto;
}
.social-media {
}
.copywright {
  color: var(--copyright-text-color);
  display: inline;

  /* Subtitle */
  font-family: Roboto;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px; /* 150% */
  letter-spacing: 0.1px;
}

.menu-toggle {
  display: none;
  background-color: transparent;
  border-color: transparent;
}
.js-open-menu {
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  padding: 80px 35px 40px 40px;
  background-color: #ffffff;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}
.js-menu-container {
}
.js-close-menu {
}
.close-button {
  position: absolute;
  top: 35px;
  background-color: transparent;
  border-color: transparent;
}
.mobile-close-button {
}
.mobile-navs {
}
.mobile-nav {
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }
  .container {
    padding: 0 10px;
  }
  .header-block {
    padding: 17px 16px;
    box-shadow: 0px 1px 6px 10px rgba(116, 116, 117, 0.08),
      0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  }
  .navs {
    display: none;
  }
  .logo img {
    width: 104px;
    height: 51.373px;
  }
  .hero-block {
    background-image: none;
    padding-top: 50px;
    padding-bottom: 22px;
  }
  .hero-name {
    color: var(--paragrapg-color);
    font-size: 16px;
    line-height: 24px;
  }
  .hero-title {
    color: var(--navs-color);
    font-size: 36px;
    line-height: 42.5px;
    margin-top: 17px;
    margin-bottom: 27px;
  }
  .hero-text {
    color: var(--paragrapg-color);
    font-size: 24px;
    margin-bottom: 50px;
  }
  .playstore-hero:hover,
  .playstore-hero:focus {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
  }
  .app-store-hero {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
    margin-left: 0;
    margin-top: 17px;
  }
  .app-store-hero:hover,
  .app-store-hero:focus {
    color: #fff;
  }
  .insctuction-section {
    padding: 0 37px;
  }
  .inscruction-title {
    font-size: 24px;
    margin-bottom: 114px;
  }
  .step {
    flex-direction: column-reverse;
    text-align: center;
  }
  .step:nth-child(2) {
    flex-direction: column-reverse;
  }

  .instruction-subtitle {
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 50px;
  }
  .download-section {
    background-image: none;
    background-color: var(--navs-color);
    padding: 110px 0;
  }
  .download-title {
    width: 310px;
    display: inline-block;
  }
  .download-text {
    color: #BDBDBD;
  }
  .footer-section {
    padding: 60px 90px 43px 90px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .copywright {
    margin: 0;
  }
  .logo-footer {
    display: none;
  }

}
